# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Elpa package cache
elpa/

# Temporary or local files
custom.el
history
ido.last
places
projectile-bookmarks.eld
transient/

# LSP caches
.cache
.lsp-session-v1
.dap-breakpoints

# LSP workspace
workspace/

# lsp-java caches
eclipse.jdt.ls/
